.labelAndFlaggedWrapper {
  text-align: center;
}
.labelAndFlaggedWrapper .flaggedEditwrapper {
  display: flex;
}
.labelAndFlaggedWrapper {
  width: 70%;
  display: center;
}
.labelAndReviewNeededWrapper {
  display: center;
}
.labelAndReviewNeededWrapper .wrapper {
  display: flex;
}
.labelAndReviewNeededWrapper {
  width: 70%;
  display: center;
}
