.prodcutInfoWrapper fieldset {
  min-width: 0;
}
.cuspinLabelAndInputWrapper {
  text-align: center;
}
.cuspinLabel {
  display: inline-block;
}
.cuspinInputWrapper {
  display: inline-block;
}
.isinLabelAndInputWrapper {
  text-align: center;
}
.isinLabel {
  display: inline-block;
}
.isinInputWrapper {
  display: inline-block;
}
.occSymbolLabelAndInputWrapper {
  text-align: center;
}
.occSymbolLabel {
  display: inline-block;
}
.occSymbolInputWrapper {
  display: inline-block;
}
