.prodcutInfoWrapper fieldset {
  min-width: 0;
}
.cuspinLabelAndInputWrapper {
  text-align: center;
}
.cuspinLabel {
  display: inline-block;
  width: 30%;
}
.cuspinInputWrapper {
  display: inline-block;
}
.isinLabelAndInputWrapper {
  text-align: center;
}
.isinLabel {
  display: inline-block;
  width: 30%;
}
.isinInputWrapper {
  display: inline-block;
}
.occSymbolLabelAndInputWrapper {
  text-align: center;
}
.occSymbolLabel {
  display: inline-block;
  width: 30%;
}
.occSymbolInputWrapper {
  display: inline-block;
}
.typeLabelAndValue {
  display: flex;
}
.tierLabelAndValue {
  display: flex;
}
.tierLabelAndValue .label {
  width: 27%;
}
